@model JustABackup.Models.ProviderProperty

<div class="form-group">
    @Html.HiddenFor(m => m.Name)
    @Html.HiddenFor(m => m.Description)
    @Html.HiddenFor(m => m.Template)

    @Html.DisplayFor(m => m.Name)
    @Html.EditorFor(m => m.Value, Model.Template)
</div>