@model ListAuthenticatedSessionModel
@{
    Model.Title = "Authenticated Sessions";
    Model.TitleDescription = "List of authenticated sessions.";
}

<section class="section">
    <div class="row">
        <div class="col-md-12">
            <div class="card">
                <div class="card-block">
                    <section>
                        <div class="table-responsive">
                            <table class="table table-striped table-bordered table-hover">
                                <thead>
                                    <tr>
                                        <th>Name</th>
                                        <th>Provider</th>
                                        <th></th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @foreach (var job in Model.Sessions)
                                    {
                                        <tr data-id="@job.ID" class="@(job.HasChangedModel ? "table-danger" : null)">
                                            <td><a asp-action="Details" asp-route-id="@job.ID">@job.Name</a></td>
                                            <td>@job.Provider</td>
                                            <td></td>
                                        </tr>
                                    }
                                </tbody>
                            </table>
                        </div>
                    </section>
                </div>
            </div>
        </div>
    </div>
</section>