@model ConfigureJobModel
@{
    Model.Title = Model.ID.HasValue ? "Modify Scheduled Job" : "Create Scheduled Job";
    Model.TitleDescription = "Base configuration for a scheduled job.";
}

<section class="section">
    <div class="row">
        <div class="col-md-12">
            <div class="card">
                <div class="card-block">
                    <section>
                        <form class="dynamic" asp-action="Configure">
                            <script type="application/json" class="configuration">
                                {
                                    "completeText": "@(Model.ID.HasValue ? "Modify" : "Create")",
                                    "sectionProperties": [ "BackupProvider", "TransformProviders", "StorageProvider" ],
                                    "providerInstances":
                                        {
                                            @for(int i = 0; i < Model.ProviderInstances.Count; i++)
                                            {
                                                <text>"@Model.ProviderInstances.Keys.ElementAt(i)": @Model.ProviderInstances.Values.ElementAt(i)@(i + 1 == Model.ProviderInstances.Count ? "": ",")</text>
                                            }
                                        }
                                    ,
                                    "fields": [
                                        {
                                            "id": "ID",
                                            "type": "hidden",
                                            "value": "@Model.ID"
                                        },
                                        {
                                            "id": "Name",
                                            "name": "Name",
                                            "type": "string",
                                            "value": "@Model.Name",
                                            "validation": [ "required" ]
                                        },
                                        {
                                            "id": "BackupProvider",
                                            "name": "Backup Provider",
                                            "type": "dropdown",
                                            "value": "@Model.BackupProvider",
                                            "validation": [ "required" ],
                                            "dataSource": "/api/provider?type=backup"
                                        },
                                        {
                                            "id": "StorageProvider",
                                            "name": "Storage Provider",
                                            "type": "dropdown",
                                            "value": "@Model.StorageProvider",
                                            "validation": [ "required" ],
                                            "dataSource": "/api/provider?type=storage"
                                        },
                                        {
                                            "id": "TransformProviders",
                                            "name": "Transform Providers",
                                            "type": "multi-select",
                                            "value": [ "@Html.Raw(string.Join("\",\"", Model.TransformProviders))" ],
                                            "dataSource": "/api/provider?type=transform"
                                        },
                                        {
                                            "id": "CronSchedule",
                                            "name": "Schedule",
                                            "type": "cron",
                                            "value": "@Model.CronSchedule",
                                            "validation": [ "required" ]
                                        }
                                    ]
                                }
                            </script>
                        </form>
                    </section>
                </div>
            </div>
        </div>
    </div>
</section>